.circle {
	position: relative;
	width: 360px;
	height: 360px;
	pointer-events: auto;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

.no-svg .circle {
	background-color: black;
}

.circle:hover .border {
	stroke-dasharray: 760;
	stroke-dashoffset: 0;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.text {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: black;
	font-size: 30px;
}

.animation {
	padding-top: 50px;
}

.border {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}